// $colour-background: #292F30;
$colour-background: #111414;
// $colour-text: #8e8e8e;
$colour-text: #e8d9af;
// $colour-primary: #4C4F46;
$colour-primary: #4C4F46;
// $colour-light-accent: #55756C;
// $colour-light-accent: #157988;
$colour-light-accent: #15885D;
// $colour-alternative-background: #111414;
$colour-alternative-background: #292F30;
// $colour-dark-accent: #5d1588; //#23526F;
$colour-dark-accent: #5d1588; //#23526F;
// $font-primary: oblique 100 3rem/2rem 'Taviraj';
$font-primary: normal small-caps 100 3rem/2rem 'Lato';
$font-family-primary: 'Lato';
// $font-secondary: normal 200 1.2rem/1.6rem 'Kanit';
$font-secondary: normal 200 1.2rem/2rem 'Lato';
$font-family-secondary: 'Lato';
$width-website-max: 70%;