@import './config';

@mixin bottom-line {
  content: '';
  display: block;
  width: 80px;
  border-bottom: 3px solid $colour-dark-accent;
  margin: auto;
  padding: 0.5rem;
  margin-top: 0.8rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $colour-dark-accent $colour-background;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: $colour-background;
}
*::-webkit-scrollbar-thumb {
  background-color: $colour-alternative-background;
  border-radius: 20px;
  border: 3px solid $colour-background;
}

.btn {
  padding: 0.8rem 0.6rem;
  font-size: 1rem;
  background-color: $colour-background;
  color: $colour-text;
  border: 2px solid $colour-primary;
  margin: 2rem 4rem 0rem 4rem;
  cursor: pointer;
}

.show-overlay {
  position: fixed;
  left: 0;
  right: 0;
  overflow-y: hidden;
}

.container {
  max-width: $width-website-max;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

.section-title {
  font: $font-primary;
  margin: 4rem 0 1rem 0;
  letter-spacing: 1px;

  &::after {
    @include bottom-line;
    padding: 0.2rem;
    width: 80px;
  }
}

.section-subtitle {
  margin: 1rem 0 1rem 0;
  font-weight: 200;
  font-style: italic;
}

.section-content {
  font: $font-secondary;
}

.modal-title {
  padding: 0.8rem 0;
  font-size: 1.8rem;
}

.modal-cancel {
  position: absolute;
  top: -3.2rem;
  right: -3.6rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0.3rem;
  padding-bottom: 0.1rem;
  width: 100px;
  height: 100px;
  background: #292F30;
  border-radius: 50%;
  
  i {
    cursor: pointer;
    height: 48px;
    width: 48px;
  }
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
} 

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.freeze {
  pointer-events: none;
}

.to-back {
  z-index: -1;
}

.grid-system {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  height: 70%;

  &-item {
    position: relative;
    overflow: hidden;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: $colour-light-accent;
      opacity: 0.9;
      transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
      transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
    }

    &:hover {
      .grid-system-item-info {
        opacity: 1;
        z-index: 2;
        transform: translateY(10%);
      }

      &::before {
        transform: scale(3) translateX(0) translateY(0) rotate(-28deg);
      }

      img {
        transform: scale(1.2);
      }
    }

    &-info {
      position: absolute;
      opacity: 0;
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: grid;
      height: 75%;
      transform: translateY(-100%);
      transition: all 500ms ease-out 500ms;
    }

    &-img {
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      z-index: 0;

      img {
        transition: transform 500ms ease-in;
      }
    }
  }
}

@mixin section-styling {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  margin-left: 10%;
  // overflow-y: scroll;
  overflow: hidden;
  z-index: 1;
}

@mixin modal {
  &::-webkit-scrollbar-track {
    background: $colour-alternative-background;
  }
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  z-index: 4;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(41,47,48, 0.9);
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: scroll;

  h3 {
    margin: 1rem 0rem 0.1rem 0rem;
  }
}

@mixin modal-grid {
  display: block;
  position: relative;
}

@mixin modal-container {
  height: auto;
  max-height: 95%;
  width: 95%;
  padding: 0.5rem;
  background: rgba(17,20,20, 1);
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;

  @media screen and (min-width: 1921px) {
    max-width: 50%;
  }
}

@mixin modal-text {
  // text-align: left;
  text-align: center;
    a {
      display: inline-block;
      // width: 100%;
      width: auto;
      font-size: 0.9rem;
    }
}

@mixin modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}