// Media query for phones, including when a phone is used in landscape
@media only screen and (max-width: 500px) {
  #nav-main {
    display: none;
    font-size: 3em;
  }

  .header-main {
    margin-left: 0%;
    justify-content: space-evenly;

    .section-title {
      line-height: 1.2em;
    }
  }
}

.projects {
  &-main {
    margin-left: 0;
  }
}

.grid-system {
  grid-template-columns: repeat(1, 1fr);
  height: auto;
}