// @import './utils';
@media only screen 
  and (min-width: 481px) 
  and (max-width: 767px) {

  .container {
    max-width: 90%;
    overflow-x: hidden;
  }

  .section-title {
    // font: normal small-caps 100 2rem/2rem "Lato";
    font: normal small-caps 100 2rem/2rem 'Montserrat';
    line-height: 1.5rem;
  }

  #nav-main {
    display: none;
    font-size: 3em;
  }
  
  .header-main {
    margin-left: 0%;
    justify-content: center;

    .section-title {
      line-height: 1.2em;
      margin: 0;
    }
  }
  
  
  .projects {
    &-main {
      margin-left: 0;
      &-grid-item-info {

        .project-title {
          font-size: 0.8rem;
          margin: 0.25rem;
        }
        .fa-1x {
          font-size: 0.75rem;
        }

        p {
          line-height: 0.9rem;
          font-size: 0.6rem;
        }
      }
    }

    &-info {
      height: 100%;
      &-content {
        width: 90%;
        overflow-y: scroll;
      }
    }

      
  }
  
  .projects-main > .grid-system,
  .blog-main > .grid-system {
    grid-template-columns: repeat(3, 1fr);
    height: auto;
  }
  
  .exercises {
    
    &-main {
      margin-left: 0;

      &-container {

        &-button-html,
        &-button-css,
        &-button-js {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 1rem 1rem;
          padding: 1rem 0;
          width: 90%;

          h2 {
            margin: 0;
            top: 30%;
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .blog {
    &-main {
    margin-left: 0;
      
      .blog-title {
        font-size: 1rem;
      }
    }

    &-info {
      height: 90vh;
    }
  }
}

// Media query for phones, including when a phone is used in landscape
@media only screen
  and (min-width: 320px) 
  and (max-width: 480px) {

  html, body {
    height: 10vh;
  }

  .container {
    max-width: 80%;
  }

  .section-title {
    // font: normal small-caps 100 2rem/1rem "Lato";
    font: normal small-caps 100 2rem/2rem 'Montserrat';
    line-height: 1.5rem;
  }

  #nav-main {
    display: none;
    font-size: 3em;
  }

  .header-main {
    margin-left: 0%;
    justify-content: space-evenly;

    .section-title {
      line-height: 1.2em;
      margin: 0;
    }

    .section-content {
      .resume-section {
        margin: 0;
      }
    }
  }


  .projects {
    margin-bottom: 4rem;
    &-main {
      margin-left: 0;
    }

    &-info {
      width: 100%;
      height: 100%;
      &-content {
        width: 90%;
        overflow-y: scroll;

        &-grid {
          width: 100%;

          &-buttons {
            a {
              margin: 2rem 2rem 0rem 2rem;
              width: 5rem;
            }
          }
        }
      }
    }
  }

  .blog {
  
    &-main {
    margin-left: 0;
    
      & > .grid-system {
        grid-template-columns: repeat(1, 1fr);
        height: auto; 
      }
    }

    // &-info {
    //   &-content {
    //     max-height: 85%;
    //   }
    // }
  }

  .projects-main > .grid-system {
    grid-template-columns: repeat(1, 1fr);
    height: auto;

    &-item {
      &-info {

       p {
         font-size: 0.7rem;
       }
      }
    }
  }

  .exercises {

    &-main {
      margin-left: 0;
      &-container {
        flex-direction: column;

        &-button-html,
        &-button-css,
        &-button-js {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50%;
          height: 20%;

          h2 {
            margin: 0;
            top: 30%;
            font-size: 2rem;
          }
        }
      }
    }
  }

  .blog {
    &-main {
    margin-left: 0;
    }
  }

  .contact {
    &-content {
      margin-left: 0;
    }
  }
}