@import 'config';
@import 'utils';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: $colour-background;
  color: $colour-text;
  font-family: 'Kanit', Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $colour-text;
  padding: 0;
  margin: 0;
  
}

a:focus {
  border: 1px solid transparent;
}

i {
  color: $colour-dark-accent;
}

img {
  width: 100%;
  height: 100%;
}

input,
textarea {
  width: 70%;
  padding: 0.3rem 0.5rem;
  font-size: 1.4rem;
  border: none;
  margin: 0.2rem 0;
  background: $colour-alternative-background;

  // color: $;
  &[type="submit"] {
    margin-top: 2rem;
    width: 35%;
    color: $colour-text;
  }

  &:focus {
    outline: none;
    caret-color: #fff;
  }
}

textarea {
  resize: none;
}

.btn {
  &-dark {
    padding: 0.7rem 1.2rem;
    background-color: $colour-background;
    color: $colour-text;
  }
}

#nav {
  &-main {
    font: $font-secondary;
    z-index: 3;
    font-size: 1rem;
    position: fixed;
    top: 10%;
    left: 10%;

    ul {
      text-align: center;

      li {
        margin-bottom: 2rem;

        &::after {
          @include bottom-line;
          padding: 0.2rem;
          width: 40px;
        }

      }

      // &>li:first-child::after {
      //   border-bottom-color: $colour-light-accent;
      // }
      &>li.current::after {
        border-bottom-color: $colour-light-accent;
      }
    }
  }
}

.header {

  &-main {
    @include section-styling;
    justify-content: center;

    h1 {
      padding-bottom: 0.8rem;

      &::after {
        @include bottom-line;
        padding: 0;
      }
    }

    .resume {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      margin-top: 1rem;

      &-section {
        padding: 0.5rem;
        margin: 0 2rem;
        display: flex;
        flex-direction: column;

        span[class^="resume-"] {
          display: inline-block;
        }  
      }

      &-icon {
        margin-bottom: 0.5rem;
      }
    }

    &-arrow {
      display: block;
      margin-top: 3rem;
    }
  }
}

.projects {
  position: relative;

  &-main {
    @include section-styling;
    overflow-y: scroll;

    h2 {
      margin-bottom: 1rem;
    }

    &-grid-item-info {
      grid-template-areas:
        'title title title'
        'btn-div btn-div btn-div'
        'btn-3 btn-3 btn-3';

      .project-title {
        grid-area: title;
        font-size: 1.2rem;
      }

      .btn-div {
        grid-area: btn-div;
        display: flex;
        justify-content: space-evenly;
      }

      a {
        // grid-area: btn-1;
        cursor: pointer;

      }

      .project-btn-3 {
        grid-area: btn-3;
        cursor: pointer;
      }

      // h2,
      // a {
      //   color: #fff !important;
      // }

      p {
        font-size: 0.9rem;
      }
    }
  }

  &-info {
    @include modal;
    &-content {
      @include modal-container;
      &-grid {
        @include modal-grid;
        h3 {
          margin: 1rem 0rem 0.1rem 0rem;
        }
        &-buttons {
          @include modal-buttons;
        }
      }
    }
  }
}


.exercises {
  &-info {
    @include modal;
    &-content {
      @include modal-container;
      &-grid {
        @include modal-grid;
        &-text{
          @include modal-text;
          
        }
        
        // &-buttons {
        //   @include modal-buttons;
        // }
      }
    }
  }

  &-main {
    @include section-styling;

    &-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 100%;

      &-button-html,
      &-button-css,
      &-button-js {
        // flex: 1;
        width: 20%;
        padding: 2rem 0;
        margin: 0rem 1rem;
        position: relative;
        display: inline-block;
        color: $colour-text;
        border: 4px solid $colour-background;
        cursor: pointer;
        // border-radius: 50%;
        box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
          inset 0 -15px 15px rgba(255, 255, 255, 0.05),
          0 15px 15px rgba(0, 0, 0, 0.1),
          inset 0 15px 15px rgba(0, 0, 0, 0.1);

        h2 {
          font: $font-primary;;
          letter-spacing: 1px;
          display: inline-block;
          left: 0;
          bottom: 0;
          right: 0;
          margin: 0;
          font-size: 3rem;
        }
      }

      // Rather than have everything in two separate lists on the main screen, have a button for each language, and clicking a button brings an overlay/modal that will neatly display all the lessons. Each lesson can either be a number with a title (i.e. '30 - Flexbox Basics') and thus we can have like 3 or 4 columns, or we can have a number with a title with a description, and can have one exercise per row, or perhaps 2 exercises per row (2 columns)
    }
  }
}



.blog {

  &-main {
    @include section-styling;
    overflow-y: scroll;

    h2 {
      margin-bottom: 1rem;
    }

    // .grid-system-item-info {
    //   // grid-template-areas:
    //   //   'title'
    //   //   'btn-1';

    //   // .blog-title {
    //   //   grid-area: title;
    //   // }

    //   // .blog-btn-1 {
    //   //   grid-area: btn-1;
    //   // }

    //   // h2 {
    //   //   // font-size: 1rem;
    //   // }

    //   // h2,
    //   // a {
    //   //   color: #fff !important;
    //   // }
    // }
  }

  &-info {
    @include modal;
    &-content {
      @include modal-container;
      &-grid {
        @include modal-grid;
      }
    }
  }
}

.contact {
  height: 100vh;

  &-content {
    @include section-styling;

    &-form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      textarea {
        height: 20%;
        font-size: 1.8rem;
      }

      input[type="submit"] {
        padding: 0.5rem 0;
      }
    }
  }

}

.footer {
  width: 100%;
  height: auto;
  padding: 2rem;
  letter-spacing: 1.3px;
  align-self: flex-end;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &-text {
      color: $colour-text;
      margin-bottom: 1rem;

      &-span {
        color: #fff;
      }
    }

    &-icons {
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        padding: 0 1rem;
      }
    }
  }
}

@import 'mobile.scss';
@import 'tablet.scss';
@import 'laptop.scss';
@import 'desktop.scss';

// For if you decide to use grid-template-areas for the portfolio items:
// grid-template-areas:
//   'projects-item-1 projects-item-2 projects-item-3'
//   'projects-item-4 projects-item-5 projects-item-6'
//   'projects-item-7 projects-item-8 projects-item-9';
//&-1 {
//   grid-area: projects-item-1;
// }

// &-2 {
//   grid-area: projects-item-2;
// }

// &-3 {
//   grid-area: projects-item-3;
// }

// &-4 {
//   grid-area: projects-item-4;
// }

// &-5 {
//   grid-area: projects-item-5;
// }

// &-6 {
//   grid-area: projects-item-6;
// }

// &-7 {
//   grid-area: projects-item-7;
// }

// &-8 {
//   grid-area: projects-item-8;
// }

// &-9 {
//   grid-area: projects-item-9;
// }