@import 'config';
@import 'utils';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: $colour-background;
  color: $colour-text;
  font-family: 'Kanit', Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $colour-text;
}

i {
  color: $colour-dark-accent;
}

img {
  width: 100%;
  height: 100%;
}

input,
textarea {
  width: 70%;
  padding: 0.3rem 0.5rem;
  font-size: 1.4rem;
  border: none;
  margin: 0.2rem 0;
  background: $colour-alternative-background;

  // color: $;
  &[type="submit"] {
    margin-top: 2rem;
    width: 35%;
    color: $colour-text;
  }

  &:focus {
    outline: none;
    caret-color: #fff;
  }
}

textarea {
  resize: none;
}

.btn {
  &-dark {
    padding: 0.7rem 1.2rem;
    background-color: $colour-background;
    color: $colour-text;
  }
}

#nav {
  &-main {
    font: $font-secondary;
    position: fixed;
    top: 25%;
    left: 10%;

    ul {
      text-align: center;

      li {
        margin-bottom: 3rem;

        &::after {
          @include bottom-line;
          padding: 0.2rem;
          width: 40px;
        }

      }

      &>li:first-child::after {
        border-bottom-color: $colour-light-accent;
      }
    }
  }
}

.header {

  &-main {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-left: 10%;

    h1 {
      padding-bottom: 0.8rem;

      &::after {
        @include bottom-line;
        padding: 0;
      }
    }

    #resume {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      width: 30%;
      margin-top: 1rem;

      &-section {
        padding: 0.5rem;

        span[class^="resume-"] {
          display: inline-block;
        }

        .resume-icon {
          margin-bottom: 0.5rem;
        }
      }
    }

    &-arrow {
      display: block;
      margin-top: 3rem;
    }
  }
}

.projects {

  &-main {
    margin-left: 10%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    overflow-y: auto;

    h2 {
      margin-bottom: 3rem;
    }

    &-grid-item-info {
      grid-template-areas:
        'title title title'
        'btn-1 btn-2 btn-3';

      .project-title {
        grid-area: title;
      }

      .project-btn-1 {
        grid-area: btn-1;
      }

      .project-btn-2 {
        grid-area: btn-2;
      }

      .project-btn-3 {
        grid-area: btn-3;
      }

      // a {
      //   height: auto;
      // }

      h2,
      a {
        color: #fff !important;
      }
    }
  }

  &-info {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: $colour-alternative-background;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &-content {
      height: 250px;
      width: 400px;
      padding: 0.5rem;
      background-color: $colour-background;

      &-grid {
        display: grid;
        position: relative;
        grid-template-areas:
          'title title title'
          'img txt txt'
          'btns btns btns';

        #modal-title {
          grid-area: title;
        }

        #modal-img {
          grid-area: img;
        }

        &-text {
          grid-area: txt;
        }

        &-buttons {
          grid-area: btns;
        }

        #modal-cancel {
          position: absolute;
          top: 0;
          right: 0;
          padding: 0.5rem;
        }
      }
    }
  }
}


.exercises {
  &-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-left: 10%;

    &-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 100%;

      &-html,
      &-css,
      &-js {
        // flex: 1;
        // width: 25%;
        // height: 50%;
        width: 25%;
        padding-top: 25%;
        position: relative;
        color: $colour-text;
        border: 4px solid $colour-background;
        // border-radius: 50%;
        box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
          inset 0 -15px 15px rgba(255, 255, 255, 0.05),
          0 15px 15px rgba(0, 0, 0, 0.1),
          inset 0 15px 15px rgba(0, 0, 0, 0.1);

        h2 {
          font: $font-primary;
          margin: 4rem 0 1rem 0;
          letter-spacing: 1px;
          display: inline-block;
          position: absolute;
          top: 42%;
          left: 0;
          bottom: 0;
          right: 0;
          margin: 0;
          font-size: 3rem;
        }
      }

      // Rather than have everything in two separate lists on the main screen, have a button for each language, and clicking a button brings an overlay/modal that will neatly display all the lessons. Each lesson can either be a number with a title (i.e. '30 - Flexbox Basics') and thus we can have like 3 or 4 columns, or we can have a number with a title with a description, and can have one exercise per row, or perhaps 2 exercises per row (2 columns)
    }
  }
}



.blog {

  &-main {
    margin-left: 10%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    h1 {
      margin-bottom: 3rem;
    }

    &-grid-item-info {
      grid-template-areas:
        'title'
        'btn-1';

      .blog-title {
        grid-area: title;
      }

      .blog-btn-1 {
        grid-area: btn-1;
      }

      h2,
      a {
        color: #fff !important;
      }
    }
  }
}

.contact {
  height: 100vh;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 10%;

    &-form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      textarea {
        height: 20%;
        font-size: 1.8rem;
      }

      input[type="submit"] {
        padding: 0.5rem 0;
      }
    }
  }

}

.footer {
  width: 100%;
  height: auto;
  padding: 2rem;
  letter-spacing: 1.3px;
  align-self: flex-end;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &-text {
      color: $colour-text;
      margin-bottom: 1rem;

      &-span {
        color: #fff;
      }
    }

    &-icons {
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        padding: 0 1rem;
      }
    }
  }
}


// For if you decide to use grid-template-areas for the portfolio items:
// grid-template-areas:
//   'projects-item-1 projects-item-2 projects-item-3'
//   'projects-item-4 projects-item-5 projects-item-6'
//   'projects-item-7 projects-item-8 projects-item-9';
//&-1 {
//   grid-area: projects-item-1;
// }

// &-2 {
//   grid-area: projects-item-2;
// }

// &-3 {
//   grid-area: projects-item-3;
// }

// &-4 {
//   grid-area: projects-item-4;
// }

// &-5 {
//   grid-area: projects-item-5;
// }

// &-6 {
//   grid-area: projects-item-6;
// }

// &-7 {
//   grid-area: projects-item-7;
// }

// &-8 {
//   grid-area: projects-item-8;
// }

// &-9 {
//   grid-area: projects-item-9;
// }