// @import './utils';

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: portrait) {
  html, body {
    height: 100vh;
  }

  .container {
    max-width: 85%;
  }
  #nav-main {
    display: none;
    font-size: 3em;
  }
  
  .header-main {
    margin-left: 0%;
    justify-content: center;

    .section-title {
      line-height: 1.2em;
      margin: 0;
    }
  }
  
  
  .projects {
    &-main {
      margin-left: 0;
      
      &-title {
        margin-bottom: 8rem;
      }
    }

    &-info {
      height: 100%;
      &-content {
        height: auto;
        width: 90%;
        overflow-y: scroll;
      }
    }
  }
  
  .grid-system {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
    height: auto;

    &-item {
      &-info {
        // transform: translateY(60%) !important;

        .project-title {
          font-size: 1rem;
        }
        .fa-1x {
          font-size: 1rem;
        }

        p {
          margin-top: 0rem;
          line-height: 0.9rem;
          font-size: 0.9rem;
        }
        // &:active {
        // opacity: 1;
        // transform: translateY(50%);
        // }
      }
    }  
  }
  
  .exercises {

    &-main {
      margin-left: 0;
      &-container {
        flex-direction: column;
        height: 80%;

        &-button-html,
        &-button-css,
        &-button-js {
          flex: 0;
          width: 12rem;
          // padding: 2rem;
          margin-left: 1rem;

          h2 {
            font-size: 2rem;
            top: 25%;
          }
        }
      }
    }
  }

  // .blog {
  //   &-main {
  //   margin-left: 0;
  //   }
  // }
}

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: landscape) {
  // html, body {
  //   height: 100vh;
  // }
  #nav-main {
    display: none;
    font-size: 3em;
  }
  
  .header-main {
    margin-left: 0%;
    justify-content: center;

    .section-title {
      line-height: 1.2em;
      margin: 0;
    }
  }
  
  
  .projects,
  .blog {
    &-main {
      margin-left: 0;
    }

    &-info {
      height: 100%;
      &-content {
        // height: 90%;
        width: 90%;
        overflow-y: scroll;
      }
    }
  }
  
  .grid-system {
    grid-template-columns: repeat(3, 1fr);
    height: auto;

    &-item {
      &-info {
        transform: translateY(55%) !important;

        .project-title {
          font-size: 1.2rem;
        }
        .fa-1x {
          font-size: 0.9rem;
        }

        p {
          line-height: 0.9rem;
          font-size: 0.8rem;
        }
        // &:active {
        // opacity: 1;
        // transform: translateY(50%);
        // }
      }
    }  
  }
  
  .exercises {
    .contaier {
      width: 80%;
    }

    &-main {
      margin-left: 0;
      &-container {
        justify-content: space-between;

        &-button-html,
        &-button-css,
        &-button-js {
          padding: 2rem 1rem;
          margin: 0rem 1rem;
          width: 100%;

          h2 {
            margin: 0;
            top: 30%;
            font-size: 2rem;
          }
        }
      }
    }
  }

  // .blog {
  //   &-main {
  //   margin-left: 0;
  //   }
  // }
}